// Typography

$t__font-main: 'Roboto', sans-serif;
$t__font-sec: 'Playfair Display', serif;

$t__line-height--body: 1.5;

$t__large: 18px; // 18px
$t__regular: 14px; // 14px
$t__small: 12px; // 12px
